body {
  background-color: #1d1f21;
  font-family: Consolas, 'Gill Sans', Arial;
  color: #c5c8c6;
}

button {
  background-color: #373b41;
  border: thin;
  border-color: #373b41;
  width: 7vw;
  height: 2vh;
  font-size: inherit;
} 

button:hover{
  background-color: #1d1f21;
}

circle{
  fill: #f0c674;
}

circle:hover{
  transition-duration: 200ms;
  fill: #de935f;
  transform: scale(2em);
}

 p{
  position: absolute;
  z-index: 1;
  background-color: #1d1f21;
  border: groove;
  border-color: #c5c8c6;
  padding: 1em;
}

h3 {
  color: #de935f;
}

fieldset{
  border: none;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 40%;
  top: 30%;
  border: groove;
  border-color: #c5c8c6;
  padding: 2em;
}

form > * {
  padding: 0.3em;
}

form h3{
  color: #cc6666;
}

form p {
  border: none;
  padding: 0.7em;
  size: 2em;
  z-index: 0;
  position: relative;
}

input[type="range"]{
  accent-color: #81a2be;
  margin-right: 1em;
}

input[type="radio"]{
  accent-color: #5f819d;
  margin: 0.5em;
}

input[type="email"]{
  margin-left: 1em;
  width: 15em;
}

input[type="password"]{
  margin-left: 1em;
  width: 13.5em;
}

label{
  display: flex;
}

legend{
  font-size: larger;
  font-weight: bolder;
  color: #cc6666;
}

main{
  position: absolute;
  left: 36%;
  top: 20%;
  display: grid;
  grid: repeat(4, 25%)/repeat(4,auto);
  grid-template-areas:"off . . logout"
                    "carrier modulator envelope filter"
                    ". keyboard keyboard .";
  gap: 2.5em; 
}

summary {
  color: #b5bd68;
}

section{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}

section:not(.keyboard, .logout){
  border-style: outset;
  border-color: #c5c8c6;
}

section > *{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.keyboard summary{
  padding: 0.7em;
  background-color: #c5c8c6;
  color: #1d1f21;
  size: 2em;
}

svg{
  padding-top: 4em;
}

.login-buttons{
  display: grid;
  grid-template-areas: ". message"
                        "login signup";
}

.signup-buttons{
  padding-top: 2em;
  display: grid;
  grid-template-areas: "signup . login";
  gap:9em;
}


