* {
  background-color: #1d1f21;
  font-family: Consolas, 'Gill Sans', Arial;
  color: #c5c8c6;
}

button {
  background-color: #373b41;
  border: thin;
  border-color: #373b41;
  width: 7vw;
  height: 2vh;
  font-size: inherit;
} 

button:hover{
  background-color: #1d1f21;
}

circle{
  fill: #f0c674;
}

circle:hover{
  transition-duration: 200ms;
  fill: #de935f;
}

h3 {
  color: #de935f;
}

fieldset{
  border: none;
}

input[type="range"]{
  accent-color: #81a2be;
}

legend{
  font-size: larger;
  font-weight: bolder;
  color: #cc6666;
}

details [open]> p{
  z-index: 1;
}

summary {
  color: #b5bd68;
}

section{
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}

section:not(.keyboard, .logout){
  background-color: red;
  border: thick;
  border-color:#c5c8c6 ;
}
