* {
  background-color: #1d1f21;
  font-family: Consolas, 'Gill Sans', Arial;
  color: #c5c8c6;
}

button {
  background-color: #373b41;
  border: thin;
  border-color: #373b41;
  width: 7vw;
  height: 2vh;
  font-size: inherit;
} 

button:hover{
  background-color: #1d1f21;
}

h3 {
  color: #de935f;
}

details [open]> p{
  z-index: 1;
}

summary {
  color: #b5bd68;
}

legend{
  font-weight: bolder;
  color: #cc6666;
}
